.collectBox{
    flex: 1;
    display: flex;
    margin: 30px 30px 10px 30px;
}

.platformBox{
    flex: 2;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}

.platform{
    flex: 1;
    text-align: center;
    font-size: 25px;
    border: 1px solid grey;
}

.collectPlatform{
    flex: 1;
    cursor: pointer;
}

.collectBox > div:nth-child(2){
    flex: 5;
    display: flex;
}

.mapBox > div > div {
    /* position: relative !important; */
    flex:1;
}