.headerBox{
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: lightgrey;
}

.title{
    flex: 5;
    font-size: 80px;
    font-family: 'Jalnan';
    color: rgb(249, 185, 173);
    min-width: 500px;
}

li {
    flex: 1;
    min-width: 150px;
}
